# The Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data01.csv")
df.head()

,group,ID,outcome,age,gendera,BMI,hypertensive,atrialfibrillation,CHD with no MI,diabetes,...,Blood sodium,Blood calcium,Chloride,Anion gap,Magnesium ion,PH,Bicarbonate,Lactic acid,PCO2,EF
0,1,125047,0.0,72,1,37.588179,0,0,0,1,...,138.750000,7.463636,109.166667,13.166667,2.618182,7.230,21.166667,0.5,40.0,55
1,1,139812,0.0,75,2,NaN,0,0,0,0,...,138.888889,8.162500,98.444444,11.444444,1.887500,7.225,33.444444,0.5,78.0,55
2,1,109787,0.0,83,2,26.572634,0,0,0,0,...,140.714286,8.266667,105.857143,10.000000,2.157143,7.268,30.571429,0.5,71.5,35
3,1,130587,0.0,43,2,83.264629,0,0,0,0,...,138.500000,9.476923,92.071429,12.357143,1.942857,7.370,38.571429,0.6,75.0,55
4,1,138290,0.0,75,2,31.824842,1,0,0,0,...,136.666667,8.733333,104.500000,15.166667,1.650000,7.250,22.000000,0.6,50.0,55

In [3]:
df.shape

(1177, 51)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1177 entries, 0 to 1176
Data columns (total 51 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   group                     1177 non-null   int64
 1   ID                        1177 non-null   int64
 2   outcome                   1176 non-null   float64
 3   age                       1177 non-null   int64
 4   gendera                   1177 non-null   int64
 5   BMI                       962 non-null    float64
 6   hypertensive              1177 non-null   int64
 7   atrialfibrillation        1177 non-null   int64
 8   CHD with no MI            1177 non-null   int64
 9   diabetes                  1177 non-null   int64
 10  deficiencyanemias         1177 non-null   int64
 11  depression                1177 non-null   int64
 12  Hyperlipemia              1177 non-null   int64
 13  Renal failure             1177 non-null   int64
 14  COPD                      1177 non-null   int64
 15  heart rate                1164 non-null   float64
 16  Systolic blood pressure   1161 non-null   float64
 17  Diastolic blood pressure  1161 non-null   float64
 18  Respiratory rate          1164 non-null   float64
 19  temperature               1158 non-null   float64
 20  SP O2                     1164 non-null   float64
 21  Urine output              1141 non-null   float64
 22  hematocrit                1177 non-null   float64
 23  RBC                       1177 non-null   float64
 24  MCH                       1177 non-null   float64
 25  MCHC                      1177 non-null   float64
 26  MCV                       1177 non-null   float64
 27  RDW                       1177 non-null   float64
 28  Leucocyte                 1177 non-null   float64
 29  Platelets                 1177 non-null   float64
 30  Neutrophils               1033 non-null   float64
 31  Basophils                 918 non-null    float64
 32  Lymphocyte                1032 non-null   float64
 33  PT                        1157 non-null   float64
 34  INR                       1157 non-null   float64
 35  NT-proBNP                 1177 non-null   float64
 36  Creatine kinase           1012 non-null   float64
 37  Creatinine                1177 non-null   float64
 38  Urea nitrogen             1177 non-null   float64
 39  glucose                   1159 non-null   float64
 40  Blood potassium           1177 non-null   float64
 41  Blood sodium              1177 non-null   float64
 42  Blood calcium             1176 non-null   float64
 43  Chloride                  1177 non-null   float64
 44  Anion gap                 1177 non-null   float64
 45  Magnesium ion             1177 non-null   float64
 46  PH                        885 non-null    float64
 47  Bicarbonate               1177 non-null   float64
 48  Lactic acid               948 non-null    float64
 49  PCO2                      883 non-null    float64
 50  EF                        1177 non-null   int64
dtypes: float64(37), int64(14)
memory usage: 469.1 KB

In [5]:
df.isnull().sum()

group                         0
ID                            0
outcome                       1
age                           0
gendera                       0
BMI                         215
hypertensive                  0
atrialfibrillation            0
CHD with no MI                0
diabetes                      0
deficiencyanemias             0
depression                    0
Hyperlipemia                  0
Renal failure                 0
COPD                          0
heart rate                   13
Systolic blood pressure      16
Diastolic blood pressure     16
Respiratory rate             13
temperature                  19
SP O2                        13
Urine output                 36
hematocrit                    0
RBC                           0
MCH                           0
MCHC                          0
MCV                           0
RDW                           0
Leucocyte                     0
Platelets                     0
Neutrophils                 144
Basophils                   259
Lymphocyte                  145
PT                           20
INR                          20
NT-proBNP                     0
Creatine kinase             165
Creatinine                    0
Urea nitrogen                 0
glucose                      18
Blood potassium               0
Blood sodium                  0
Blood calcium                 1
Chloride                      0
Anion gap                     0
Magnesium ion                 0
PH                          292
Bicarbonate                   0
Lactic acid                 229
PCO2                        294
EF                            0
dtype: int64

# Cleaning the Data

In [6]:
# We don't need the group and ID in our model
df.drop(['group','ID'],axis=1,inplace=True)

In [7]:
# droping duplicate value
df.drop_duplicates()

,outcome,age,gendera,BMI,hypertensive,atrialfibrillation,CHD with no MI,diabetes,deficiencyanemias,depression,...,Blood sodium,Blood calcium,Chloride,Anion gap,Magnesium ion,PH,Bicarbonate,Lactic acid,PCO2,EF
0,0.0,72,1,37.588179,0,0,0,1,1,0,...,138.750000,7.463636,109.166667,13.166667,2.618182,7.230,21.166667,0.5,40.0,55
1,0.0,75,2,NaN,0,0,0,0,1,0,...,138.888889,8.162500,98.444444,11.444444,1.887500,7.225,33.444444,0.5,78.0,55
2,0.0,83,2,26.572634,0,0,0,0,1,0,...,140.714286,8.266667,105.857143,10.000000,2.157143,7.268,30.571429,0.5,71.5,35
3,0.0,43,2,83.264629,0,0,0,0,0,0,...,138.500000,9.476923,92.071429,12.357143,1.942857,7.370,38.571429,0.6,75.0,55
4,0.0,75,2,31.824842,1,0,0,0,1,0,...,136.666667,8.733333,104.500000,15.166667,1.650000,7.250,22.000000,0.6,50.0,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1172,0.0,62,1,25.516870,1,1,0,1,0,1,...,136.714286,10.271429,94.428571,20.142857,2.714286,NaN,27.714286,NaN,NaN,40
1173,0.0,78,1,25.822710,0,1,0,1,0,1,...,135.680000,10.523529,101.720000,18.160000,2.012500,NaN,20.480000,NaN,NaN,30
1174,0.0,85,2,23.891779,1,1,0,1,1,0,...,136.000000,8.466667,97.285714,14.000000,2.028571,NaN,28.857143,NaN,NaN,55
1175,0.0,79,2,35.288554,0,0,1,1,1,1,...,140.000000,8.183333,104.000000,15.750000,2.090000,NaN,24.375000,NaN,NaN,25
1176,0.0,47,1,23.121384,1,0,0,1,0,0,...,135.285714,9.085714,93.857143,20.285714,2.566667,NaN,26.571429,NaN,NaN,55

In [8]:
# droping columns with 1 unique value
for col in df.columns:
    if len(df[col].unique()) == 1:
        df.drop(col,inplace=True,axis=1)

We have 1 null value in our categorical data. we have remove it.

In [9]:
# cheking for unique value in outcome
df.outcome.unique()

array([ 0.,  1., nan])

In [13]:
# droping the null value from outcome variable
df = df.dropna(subset=['outcome'])

In [11]:
# filling null with median
df = df.fillna(df.median())

In [12]:
# cheling for null value again
df.isnull().sum()

outcome                     0
age                         0
gendera                     0
BMI                         0
hypertensive                0
atrialfibrillation          0
CHD with no MI              0
diabetes                    0
deficiencyanemias           0
depression                  0
Hyperlipemia                0
Renal failure               0
COPD                        0
heart rate                  0
Systolic blood pressure     0
Diastolic blood pressure    0
Respiratory rate            0
temperature                 0
SP O2                       0
Urine output                0
hematocrit                  0
RBC                         0
MCH                         0
MCHC                        0
MCV                         0
RDW                         0
Leucocyte                   0
Platelets                   0
Neutrophils                 0
Basophils                   0
Lymphocyte                  0
PT                          0
INR                         0
NT-proBNP                   0
Creatine kinase             0
Creatinine                  0
Urea nitrogen               0
glucose                     0
Blood potassium             0
Blood sodium                0
Blood calcium               0
Chloride                    0
Anion gap                   0
Magnesium ion               0
PH                          0
Bicarbonate                 0
Lactic acid                 0
PCO2                        0
EF                          0
dtype: int64